@import url("https://fonts.googleapis.com/css?family=Roboto");

.lblTitulo{
    -fx-font-family: "Arial Black" !important;
    -fx-font-size: 50px!important;
    -fx-text-fill: #fff!important;
}
.lblTitulo2{
    -fx-font-family: "Arial Black" !important;
    -fx-font-size: 15px!important;
    -fx-text-fill: #fff!important;
}
.jfx-button {
    -fx-font-family: "Arial Black";
    -fx-font-size: 15px;
    -fx-background-color: #0277bd;
    -fx-background-radius: 6%;
    -fx-border-radius: 6%;
    -fx-border-color: #003333;
    -fx-text-fill: #fff;

}
.jfx-button:disabled{
    -fx-font-family: "Arial Black";
    -fx-font-size: 15px;
    -fx-background-color: #671983;
    -fx-background-radius: 6%;
    -fx-border-radius: 6%;
    -fx-border-color: #003333;
    -fx-opacity: 1;
}

.buttonSelected {

    -fx-font-family: "Arial Black";
    -fx-font-size: 15px;
    -fx-background-color: #0277bd;
    -fx-background-radius: 6%;
    -fx-border-radius: 6%;
    -fx-border-color: #003333;
    -fx-text-fill: #fff;
}

.jfx-button:hover {
    -fx-font-size: 14px;
    -fx-effect: dropshadow( gaussian, #ffffff, 15, 0.5, 0.0, 0.0);
}

.jfx-radio-button {
    -fx-font-size: 22px;
    -fx-alignment: center;
    -jfx-selected-color: #0277bd;
    -jfx-unselected-color: #5e55d4;
    -fx-unselected-color: transparent;
}

.label {
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-alignment: center;
    -fx-font-family: 'Roboto', sans-serif;
}
.vbox{
    -fx-background-color: #212121;
}

.acercade{
    -fx-text-fill: #fff;
    -fx-font-size: 22px;
    -fx-alignment: center;
    -fx-font-family: 'Roboto', sans-serif;
}

.text-area{
    -fx-text-fill: #ffff;
}
